body {
    /* background-color: #ffffff; */
    font-family: 'Roboto', sans-serif;

    /* changing background color to yellow gradient */
    background: linear-gradient(to right, white, white);
    position: relative;
    height: 100vh;
    margin: 0;
    overflow: auto;
    /* need to make it scrollable */
}

.logo {
    height: 45px; /* Set the logo height */
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 5px; /*Space between logo and nav links*/
    padding: 5px;
}

.logo-container {
    cursor: default; /* Prevent pointer cursor on hover */
    display: flex;
}

/* blob gradient */

.blob-bottom-left {
    position: absolute;
    width: 300px;
    height: 300px;
    background: radial-gradient(circle, #FFF5CF, #FFF5CF);
    border-radius: 50%;
    filter: blur(80px);
    bottom: -100px;
    left: -100px;
    z-index:0;
    /* makes the blobs appear below the cards*/
}

.blob-top-right {
    position: absolute;
    width: 300px;
    height: 300px;
    background: radial-gradient(circle, #FFF5CF, #153647);
    border-radius: 50%;
    filter: blur(80px);
    z-index:0;
    /* makes the blobs appear below the cards*/
    top: -50px;
    right: 0px;
}

/* end of blob gradient */

.container {
    margin-top: 20px;
}

/* making the header have a gradient */
h1.header-title {
    font-weight: bold;
    -webkit-background-clip: text;
    /* cliping background off and letting the gradient fill the text */
    -webkit-text-fill-color: transparent;
    /* making the text transparent to fill in the gradient color */
    background-image: linear-gradient(to right, #163646, #578787,#163646, #578787);
    font-size: 1.9em;
    text-transform: uppercase;
}

h2.header-title{
    padding-bottom: 30px;
    color: #163646;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    text-transform: capitalize;
}

.logo-space {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.logo-space img {
    max-height: 100%;
    max-width: 100%;
}
/* Search bar styles */

.search-bar .material-icons {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #163646;
}

.search-bar input {
    width: 100%;
    padding: 10px 40px 10px 20px; /* Reduce left padding to 20px */
    border: none; /* Remove the underline */
    border-radius: 5px; /* Match the bulb shape */
    font-size: 16px;
    background-color: #ffffff; /* White background color for input */
    transition: background-color 0.3s; /* Smooth transition for hover */
}

/* Search BOX styles */
.search-bar {
    position: relative;
    margin-bottom: 20px;
    display: flex; 
    align-items: center; 
    border-radius: 5px;
    background-color: #ffffff; 
    border: 1px solid #979797;
    padding: 5px; /* Padding for the bulb */
}

.search-bar input {
    width: 100%;
    padding: 10px 40px;
    border: none; /* Remove the underline */
    border-radius: 5px; 
    font-size: 16px;
    line-height: normal; 
    background-color: #ffffff; 
    transition: background-color 0.3s; 
    display: flex; 
    align-items: center; 
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.filters .input-field {
    margin-bottom: 10px;
    width: 100%;
}
.filters .input-field select {
    background-color: #fff;
}
.filter-button, .btn {
    background-color: #71A7B0;
    color: #fff;
}
.resource-card {
    margin: 15px 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.resource-card h5 {
    margin-top: 0;
    color: #163647;
}
.resource-card p {
    margin: 5px 0;
}
.resource-card .condition {
    font-weight: bold;
}
@media (max-width: 768px) {
    .header-title {
        font-size: 1.5em;
    }
    .logo-space {
        height: 100px;
    }
    .search-bar input {
        padding: 10px 40px 10px 15px;
    }
    .resource-card {
        padding: 15px;
        flex-direction: column;
        text-align: center;
    }
    .resource-card h5 {
        margin-bottom: 10px;
    }
    .resource-card p {
        margin: 5px 0;
    }
    .resource-card .condition {
        font-weight: bold;
    }
}
@media (max-width: 480px) {
    .header-title {
        font-size: 1.2em;
    }
    .logo-space {
        height: 80px;
    }
    .search-bar input {
        padding: 10px 35px 10px 10px;
    }
    .filters .input-field {
        width: 100%;
    }
    .resource-card {
        padding: 10px;
    }
}

.dropdown-content {
    transform-origin: 0 0 !important;
    top: 100% !important;
}

.hidden {
    display: none;
}

.suggestions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: -25px;
}

.suggestion-bubble {
    padding: 8px 12px;
    font-size: 0.9em;
    border-radius: 5px;
    background-color: #E0E0E0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.suggestion-bubble.selected {
    background-color: #163647;
    color: white;
}
/* RESULT BOX STYLING */

.result-box ul {
    padding: 0; /* Remove padding to prevent extra space around list */
    margin: 0; /* Ensure there's no margin around the list */
}

.result-box ul li {
    list-style: none;
    display: inline-block; /* Make the li element adjusts to the size of its content */
    padding: 5px 10px; /* Adjust the padding to control the height and spacing around the text */
    border-radius: 3px;
    cursor: pointer;
    margin: 5px 0; 
}

.result-box ul li:hover {
    background: #e9f3ff; /* The blue background color on hover */
}
/* SEARCH BAR STYLING */

/* This removes the default appearance of the input field */
.search-bar input:focus {
    outline: none; /* Remove outline on focus */
    border: none; /* Ensure no border appears on focus */
    box-shadow: none; /* Remove any shadow or glow effect */
}

/* Additional styles to target Materialize input styles */
.search-bar input:focus {
    box-shadow: none !important; /* Prevent glow effect on focus */
}

/* Prevent focus outline for accessibility purposes */
.search-bar input::-webkit-inner-spin-button,
.search-bar input::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Hide spin buttons for number input */
    box-shadow: 0 0 0 2px rgba(151, 151, 151, 0.5); 
    /* focus effect */
    margin: 0; /* Reset margin */
}

.search-bar input {
    width: 100%;
    padding: 10px 40px;
    border: none; /* Remove the underline */
    border-radius: 5px; 
    font-size: 16px;
    line-height: normal; 
    background-color: #ffffff; 
    transition: background-color 0.3s; 
    display: flex; 
    align-items: center; 
    border-bottom: none !important; /* Remove underline */
    border: none; /* Remove the border */
    outline: none; /* Remove outline on focus */
    box-shadow: none; /* Remove any box-shadow */
}
/* NAVIGATION BAR STYLING */

/* Remove any background color on hover */
.nav-wrapper ul li a:hover {
    background-color: transparent; /* Ensure no background color appears */
    color: #71A7B0;
}

.nav-link:hover{
    /* border-bottom: 2px solid #163647; */
    color: #163647;
}

.nav-link.active {
    font-weight: bold;
}
.nav-wrapper{
    justify-content: left;
}

.nav-bar {
    background-color: #ffffff00;
    /* Background color of the navbar */
    border: none;
    /* Remove any border from the navbar */
    box-shadow: none;
    /* Remove any shadow */
}

.nav-wrapper ul {
    padding: 0; /* Remove padding around the list */
    margin: 0; /* Remove margin */
    list-style: none; /* Remove list bullets */
}

.nav-wrapper ul li {
    position: relative; /* Set position to relative for the pseudo-element */
}

.nav-wrapper ul li a {
    color: #163647; /* Text color */
    font-family: 'Roboto', sans-serif;
    font-weight: 500; /* Font weight */
    font-size: 1.2em; /* Font size */
    padding: 0 15px; /* Padding for the links */
    text-transform: capitalize; /* Capitalize the text */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Smooth transition for text color */
}

/* Adding a pseudo-element for the underline effect */
.nav-wrapper ul li a::after {
    content: ''; /* Empty content for the pseudo-element */
    display: block;
    width: 100%; /* Full width of the link */
    height: 2px; /* Height of the underline */
    background-color: transparent; /* Initially transparent */
    position: absolute; /* Position it absolutely */
    bottom: -5px; /* Position it below the text */
    left: 0; /* Align it to the left */
    transition: background-color 0.3s; /* Smooth transition for the underline */
}
/* RESOURCE CARD STYLING */
.resource-card {
    position: relative;
    z-index:1;
    margin: 15px 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none; 
    color: inherit; /* Inherit color from the parent */
    display: block; /* Make the card a block element */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Adjust the duration (e.g., 0.5s for half a second) */
}

.resource-card h5,
.resource-card p {
    color: #163647; 
}

/* adding floating effect */
.resource-card:hover {
    cursor: pointer;
    transform: translateY(-5px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}